/* google font css */

body{
    
    background-color: #F1F1F3;
    
}
.header-main{
    padding: 40px;
}
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* nav */
.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.nav{
    font-weight: bold;
    font-size: 30px;
    color: #0E0E0E;
    
}
.nav-btn{
    font-weight: 500;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    color: #09A15C;
    border: 1px solid green;
}
.nav-btn:hover{
    background-color: rgba(4, 82, 14, 0.651);
    border: none;
    color: #FFFFFF;
}
/* banner */
.banner{
    width: 1220px;
    height: 560;
    background-color: #C6E4D6;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 30px;
   justify-content: space-around;
   

}

.img-banner{
    width: 470px;
}

.banner-title{
    font-weight: 400;
    font-size: 24px;
    color: #0e0e0e88;

}
.banner-decription{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;

}
.banner-btn{
    padding: 12px;
    border-radius: 8px;
    background-color: #006A50;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
}
.banner-btn:hover{
    background-color: #f50baf;

}
/* main */
.vf-taitle{
    font-weight: bold;
    font-family: 40px;
    color: #0E0E0E;
}
.vf-decription{
    font-weight: 400;
    font-family: 16px;
    color: #0e0e0e88;

}
.card-con{
    display: flex;
    gap: 16px;
    margin-top: 10px;
}
.card{
    width: 410px;
    height: 325;
    background-color: #548ff534;
    padding: 8px;
    border-radius: 12px;
}
.card:hover{
    background-color: blueviolet;
    width: 700px;
}
.card-second:hover{
    background-color: darkorange;
    width: 700px;
}
.card-th:hover{
    background-color:purple;
    width: 700px;
}
.card-icon{
    width: 60px;

}
.card-title{
    font-weight: bold;
    font-family: 20px;
    color: #0E0E0E;
    margin-top: 16px;
}
.card-decription{
    font-weight: 400;
    font-size: 16px;
    color:#0e0e0e88 ;
}
.card-btn{
    background-color: #5490F5;
    padding: 8px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
}
.card-btn:hover{
    background-color: rgb(235, 201, 7);
}
.card-btn-two:hover{
    background-color: rgb(248, 53, 118);
    
}
.card-btn-th:hover{
    background-color: rgba(228, 47, 159, 0.993);

}
.card-btn-two{
    background-color: #09A15C;
    padding: 8px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    border: none;

}
.card-btn-th{
    background-color: #FFC239;
    padding: 8px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    border: none;

}
.card-second{
    width: 410px;
    height: 325;
    background-color: #09a15d42;
    padding: 8px;
    border-radius: 12px;

}
.card-th{
    width: 410px;
    height: 325;
    background-color: #ffc4394f;
    padding: 8px;
    border-radius: 12px;

}
/* hero */
.hero{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 8px;
    width: auto;
    height: 50;
    margin-top: 20px;
}
.hero-title{
    font-weight: bold;
    font-family: 32px;
    color: #0e0e0eb4;

}
.date{
    display: flex;
    gap: 8px;
    margin-bottom: 2px;
}
.hero-img{
    width: 350px;
    border-radius: 16px;
}
.aicon-hero{
    width: 60px;
}
.card-tk{
    font-weight:bold ;
    font-size: 40px;
    color: #0E0E0E;
    background-color: #FFFFFF;
    width: 240px;
    height: 128;
    padding: 20px;
}
.card-tk:hover{
    background-color:sienna;
}
.tk-cards{
    display: flex;
    gap: 10px;
}

.tk-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.p-br{
    text-align: center;
}
.inp{
    width: 1132px;
   
    height: 64;
    padding: 10px;
    
}
.re-nz{
    margin-top: 100px;
}
.vs-fu{
    margin-top: 100px;
}
.bg-color{
    font-weight:bold ;
    font-size: 40px;
    color: #0E0E0E;
    background-color: #f50bd6;
    width: 240px;
    height: 128;
    padding: 20px;
}
/* hover */
.bg-color:hover{
    background-color: #FFC239;
}
.voice-pricedent{
    
    background-color: #FFFFFF;
    padding: 16px;
    border-radius: 8px;
    width: auto;
    height: 50;
    margin-top: 60px;

}
.voice-pricedent{
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    padding: 8px;
    
}
/* footer */
.footer-container{
    width: 1210px;
    height:395 ;
    background-color: #C6E4D6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 10px;
    margin-top: 40px;
}
.input{
    width: 700px;
   
    height: 64;
    padding: 10px;
    border: none;
    border-radius: 10px 0px 0px 10px;
}
.footer-btn{
    border: none;
    padding: 10px;
    background-color: #006A50;
    border-radius: 0px 10px 10px 0px;
    font-weight: 400;
    font-family: 18px;
    color: #FFFFFF;

}
.footer-btn:hover{
    background-color: #f50baf;
}
.footer-cont{
    display: flex;
}
.ftr-title{
    font-weight:bold ;
    font-size:40px ;
}
.ftr-dec{
    font-weight:400 ;
    font-size:16px ;
    color: #0e0e0e75;

}
.footer-icons{
    display: flex ;
    gap: 16px;
}
.footer{
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #FFFFFF;
    padding: 10px;
    
    height: 200;
}