/* google font css */

body{
    padding: 30px;
    
}
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* banner */
.banner{
    width: 1280px;
    height: 560;
    background-color: #C6E4D6;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
   gap: 30px;
   justify-content: space-around;

}
.img-banner{
    width: 470px;
}
.banner-title{
    font-weight: 400;
    font-size: 24px;
    color: #0e0e0e88;

}
.banner-decription{
    font-weight: bold;
    font-size: 40px;
    color: #0E0E0E;

}
.banner-btn{
    padding: 12px;
    border-radius: 8px;
    background-color: #006A50;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    border: none;
}